* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: "Quicksand", sans-serif;
}

div#content {
    width: 100%;
    height: 100%;
    background-image: url("./IMG_9900.jpg");
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: end;
}

div#content div#text {
    margin-right: 40%;
    text-align: right;
}

div#content p {
    margin-top: 8px;
}

h1#title {
    font-size: 64pt;
}